# Spotify OAuth App Client ID (for web metadata)
VITE_SPOTIFY_CLIENT_ID=4d43d147b958432691093be5bdfb9cc6

# Spotify Premium Account Credentials (for local Librespot audio server)
SPOTIFY_USERNAME=neyoeditz2023@gmail.com
SPOTIFY_PASSWORD=Aditya@2027
AUDIO_SERVER_PORT=3001
